
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a routerLink="/welcome/user" class="navbar-brand"> HOME</a></div>
      <ul class="navbar-nav">
        <li><a routerLink="/books" class="nav-link">SKLEP</a></li>
        <li><a routerLink="/books" class="nav-link">SKUP KSIĄŻEK</a></li>
        <li><a routerLink="" class="nav-link">KONTAKT</a></li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
          <li><a  *ngIf="!hardcodedAtuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Zaloguj się</a></li>
          <li><a *ngIf="hardcodedAtuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Wyloguj się</a></li>
          
        </ul>
    
  </nav>


</header>